@tailwind base;
@tailwind components;
@tailwind utilities;

.trapezoid {
	border-bottom: 250px solid #4097DB;
	border-left: 0px solid ;
	border-right: 100px solid #53A7E9 ;
    border-top:0px solid #53A7E9;
	height: 0;
	width: 100%;
}